---
title: About Us
description: >-
 We are an experienced SAP SuccessFactors consultancy, with our founder specializing in SAP SF since more than 10 years. <p style="text-align:center;">Our ambition is to help live customers get the most out of their investment by supporting the entire solution and provide advisory consulting.</p><p p style="text-align:center;"> We are naturally capable and equipped to implement SAP SuccessFactors at a variety of scale of customers, but we prefer focusing on the live support from inception. </p>
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{{ person.linkedin }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
